
<!DOCTYPE html>


<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/submit-postage" method="GET">
            <input type="text" placeholder="5" name="weight" required> lbs<br>
            <input type="radio" name="mail" value="stamped" checked> Letters (Stamped)<br>
            <input type="radio" name="mail" value="metered"> Letters (Metered)<br>
            <input type="radio" name="mail" value="flats"> Large Envelopes (Flats)<br>
            <input type="radio" name="mail" value="retail"> First-Class Package Service—Retail<br><br>
            <input type="submit" name="Submit" value='Checkout'/>
        </form>
    </body>
</html>
