<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form>
            <input type="radio" name="mail" value="stamped" checked> Letters (Stamped)<br>
            <input type="radio" name="mail" value="metered"> Letters (Metered)<br>
            <input type="radio" name="mail" value="flats"> Large Envelopes (Flats)<br>
            <input type="radio" name="mail" value="retail"> First-Class Package Service—Retail<br>
        </form>
    </body>
</html>
